:root {
  --main-text-color: #1d2d50;
  --font-family: "Oxygen", sans-serif;
}

h1,
h2,
span {
  color: var(--main-text-color);
  font-family: var(--font-family);
}

h1 {
  font-size: 45px;
  margin-bottom: 0;
  text-align: center;
}

h2 {
  font-size: 25px;
  font-weight: 580;
  margin-bottom: 15px;
  text-align: right;
}

.container {
  background-image: linear-gradient(to top, #5eaaa8 0%, #a3d2ca 100%);
  border-radius: 15px;
  margin-bottom: 10px;
  margin-top: 30px;
  max-width: 600px;
  padding: 25px;
}

.App .current-conditions div {
  text-align: left;
}

.App .current-conditions.row {
  margin-left: 0px;
}

.App .five-day-forecast {
  padding-bottom: 5px;
  padding-top: 5px;
}

.App .five-day-forecast.col-12 {
  bottom: -26px;
  position: relative;
  text-align: right;
}
